body {
  background-image: url(../images/backgroundImage.png);
}

#buttonsHere {
  float: left;
}
 #gifsHere {
   margin-top: 20px;
   clear: both;
   float: left;
   width: 69%;
 }

 .gifs {
   float: left;
   position: relative;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 5px;
   padding-left: 5px;
 }

form {
  position: fixed;
  top: 50px;
  right: 150px;
}

.shows {
  margin-top: 15px;
  margin-right: 3px;
}

.ratings {
  position: relative;
  top: 30%;
  transform: translateY(-50%)
}
